@{
    ViewData["Title"] = "Hakkımızda";
}

<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus justo nec augue luctus, et maximus orci mollis.
    Praesent mollis rutrum sagittis. Aliquam ornare magna eget lobortis elementum. Nullam malesuada leo ac sodales
    tristique. Vivamus erat justo, commodo in ante vitae, condimentum blandit dui. Sed euismod, ligula et auctor ornare,
    dolor sapien consequat nulla, eu efficitur risus nulla eu mauris. Phasellus viverra enim pretium tortor dignissim
    ullamcorper sit amet et leo. Vivamus interdum nibh est, pellentesque blandit tortor sagittis rutrum. Integer ut
    eleifend ante. Vestibulum efficitur metus nulla, id dictum tortor mollis aliquet. Fusce et mi fermentum, gravida
    risus vitae, posuere arcu. Suspendisse vitae consectetur velit, eu faucibus turpis. Etiam nec tincidunt risus, nec
    vehicula lacus. Aliquam convallis non mi in luctus.

    Praesent vestibulum tortor sit amet enim sollicitudin, in suscipit metus efficitur. Donec sodales lacinia porttitor.
    Nulla lobortis ipsum tristique tellus pharetra, in posuere purus maximus. Maecenas feugiat in libero tempus posuere.
    Duis felis erat, lacinia sed libero eu, malesuada feugiat magna. Donec malesuada luctus magna, ac mattis ipsum
    bibendum sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi interdum pulvinar mollis.
    Fusce non lectus in augue congue volutpat ut ut tortor. Etiam hendrerit turpis at placerat consectetur. Fusce in
    cursus metus.

    Aenean consectetur tortor id ligula bibendum ullamcorper. Praesent blandit hendrerit sapien, tincidunt tristique
    lacus interdum at. Fusce id mi id ante suscipit dapibus. Nulla in finibus velit. Fusce in bibendum nibh. Integer
    vitae pharetra dui. Pellentesque in varius nisl. Curabitur bibendum imperdiet est a vehicula. Sed eget sagittis
    urna, sed rutrum nunc. Praesent malesuada turpis euismod pretium pharetra. Pellentesque non iaculis ante, in
    tincidunt sapien. Sed nisi ex, faucibus nec erat eget, blandit pulvinar massa.</p>
